.player-cards {
    margin-top: 50px;
    margin-left: 30px;
}

.playing-card {
    float: left;
    margin-left: -30px;
    margin-top: -50px;
    border: 1px solid #ccc;
    background-color: white;
}

.playing-card img {
    width: 70px;
    height: 100px;
}

.playing-card:hover {
    border: 1px solid #777;
}

#selected-cards {
    border: 2px solid;
    margin: 10px;
    padding: 15px;
    padding-left: 30px;
    padding-bottom: 5px;
}