{% extends 'base.html' %}

{% load staticfiles %}

{% block js %}
{{ block.super }}
<script src="{% static 'game/game.js' %}"></script>
{% endblock js %}

{% block content %}
<div class="row">
    <div id="header">
        Game <a id="game-id" class="inline">{{ game.id }}</a> <br>
        Cards: {{ game.deck.cards.count }}
    </div>
    <div id="table">
        <div class="row">
            <div id="other_player">
                {% for other_player in other_players %}
                    <div class="well col-sm-1">
                        {{ other_player.user.username }} <br>
                        Points: {{ other_player.points }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div id="player_section">
                <div class="well col-md-12">
                    {{ player.user.username }}<br>
                    Points: {{ player.points }}
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-success" role="button" id="start-game">Start Game</a>
</div>


{% endblock content %}