{% extends 'base.html' %}

{% load staticfiles %}

{% block js %}
{{ block.super }}
<script src="{% static 'game/game.js' %}"></script>
{% endblock js %}

{% block content %}
<div class="row">
    <div id="header">
        <h3 class="panel-header">Game <span id="game-id">{{ game.id }}</span></h3>
    </div>
    <div id="table">
        <div class="row">
            <div id="other_players">
                {% for other_player in other_players %}
                    <div id="player-{{other_player.user.username">
                        {% include "game/other_player_snippet.html" with player=other_player %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div id="player_section">
                <div class="well col-md-12" id="player-self">
                    {% include "game/player_snippet.html" with player=player %}
                </div>
            </div>
        </div>
    </div>

    <div id="host-controls">
        {% include "game/host_controls.html" with host=player game=game %}
    </div>
</div>


{% endblock content %}