{% load staticfiles %}
{% static "" as baseUrl %}

<div class="col-md-6">
    <h5 class="panel-header">{{ player.user.username }}</h5>
    Points: {{ player.points }}<br>
    Cards Left: {{ player.cards_left }} <br>
    Position: {{ player.position }}

    <div class="row">
        <div class="player-cards">
            {% for card in player.cards_in_hand %}
                <div class="playing-card">
                    <div class="card-in-hand" id="h {{card.0}} {{card.1}}">
                        <img src="{{baseUrl}}cards/{{card.2}}"/>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="col-md-5 col-md-push-1">
    <div class=container" id="selected-cards">
        <div class="row">
            {% if player.game.is_round_end == False %}
                {% if player.turn %}
                    <div class="text-center">
                        <img src="{% static 'images/green-tick.png' %}" width="25px" height="25px">
                        <b>Your Turn</b>
                    </div>
                {% endif %}
            {% elif player.ready == True %}
                Waiting for other players to be ready...
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="player-cards">
                    {% for card in player.selected_cards %}
                        <div class="playing-card">
                            <div class="selected-card" id="s {{card.0}} {{card.1}}">
                                <img src="{{baseUrl}}cards/{{card.2}}"/>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {% if player.game.card_face == 2 and player.turn and player.game.is_round_end == False %}
                    <div class="row">
                        <div id="card-face">
                            <form id="card-face-form">
                                {% if player.face_up %}
                                    <input type="radio" name="card-face" value="up" checked="checked">Face Up<br>
                                    <input type="radio" name="card-face" value="down">Face Down<br>
                                {% else %}
                                    <input type="radio" name="card-face" value="up">Face Up<br>
                                    <input type="radio" name="card-face" value="down" checked="checked">Face Down<br>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                {% endif %}
                {% if player.has_error %}
                    <div id="action-error">
                        <p>{{ player.error }}</p>
                    </div>
                {% endif %}
                {% if player.ready == False %}
                    <div class="row">
                        <a class="btn btn-success" role="button" id="submit-ready">Ready</a>
                    </div>
                {% endif %}
                {% if player.turn and player.game.is_round_end == False %}
                    <div class="row">
                        <a class="btn btn-success" role="button" id="submit-action">Submit Action</a>
                    </div>
                {% endif %}

            </div>


            {% if player.action.cards.count > 0 %}
            <div class="col-md-5">
                    {% if player.game.is_round_end == False %}
                        <h5 class="panel-header">Last submitted action:</h5>
                        {% if player.action.face_up %}
                            Played Face Up
                        {% else %}
                            Played Face Down
                    {% endif %}
                    {% endif %}
                    <div class="player-cards">
                        {% for card in player.last_action %}
                            <div class="playing-card">
                                <img src="{{baseUrl}}cards/{{card.2}}"/>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
</div>
